Gta6Client/Library/*
Gta6Client/Temp/
Gta6Client/Logs/AssetImportWorker0.log
Gta6Client/Logs/shadercompiler-AssetImportWorker0.log
Gta6Client/Logs/shadercompiler-UnityShaderCompiler.exe0.log
Gta6Client/Logs/shadercompiler-UnityShaderCompiler.exe1.log
Gta6Client/Logs/shadercompiler-UnityShaderCompiler.exe2.log
Gta6Client/Logs/shadercompiler-UnityShaderCompiler.exe3.log
Gta6Client/Logs/shadercompiler-UnityShaderCompiler.exe4.log
Gta6Client/ProjectSettings/EditorBuildSettings.asset
Gta6Client/.vs/
Gta6Client/Client.sln
Gta6Client/Logs/ApiUpdaterCheck.txt
Gta6Client/Logs/
Gta6Client/obj/
Gta6Client/Assembly-CSharp.csproj
Gta6Client/Assembly-CSharp-Editor.csproj
Gta6Client/Assembly-CSharp-firstpass.csproj
Gta6Client/Assets/StreamingAssets/
Gta6Client/AndroidProject/.gradle/
Gta6Client/AndroidProject/.idea/
Gta6Client/AndroidProject/launcher/build/
Gta6Client/AndroidProject/unityLibrary/
Gta6Client/spine-unity.csproj
Gta6Client/spine-unity-editor.csproj
Gta6Client/UserSettings/EditorUserSettings.asset
Gta6Client/UserSettings/
.idea/
Gta6Client/AndroidProject/local.properties
Gta6Client/Assets/Bundles/Special/ResourcesManifest.txt
Gta6Client/AndroidProject/ourpalmSDK/build/
Gta6Client/AndroidProject/cityofcrime/build/
Gta6Client/AndroidProject/build/
Gta6Client/BestHTTP.csproj
Gta6Client/.vscode/launch.json
Gta6Client/Google.Android.AppBundle.Editor.csproj
Gta6Client/Google.Play.Common.csproj
Gta6Client/Google.Play.Core.csproj
Gta6Client/Google.Play.Review.csproj
Gta6Client/NavMeshComponents.csproj
Gta6Client/NavMeshComponentsEditor.csproj
Gta6Client/build/
Gta6Client/IosProject
Gta6Client/Assembly-CSharp-Editor-firstpass.csproj
Gta6Client/nameTranslation.txt
*.csproj
Gta6Client/Assets/Scripts/Utils/xmlParser/ConfigGenerate*
Gta6Client/Assets/Scripts/Utils/xmlParser/ConfigCache/ConfigGenerate*
Gta6Client/MemoryCaptures/
Gta6Client/BuildExtra/
Gta6Client/Gta6Client.sln
Gta6Client/gta6_BurstDebugInformation_DoNotShip/

#----------------------------------start-------------------------------------------
# This .gitignore file should be placed at the root of your Unity project directory
#
# Get latest from https://github.com/github/gitignore/blob/main/Unity.gitignore
#

# Autogenerated VS/MD/Consulo solution and project files
ExportedObj/
.consulo/
*.csproj
*.unityproj
*.sln
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.booproj
*.svd
*.pdb
*.mdb
*.opendb
*.VC.db

# Unity3D generated meta files
*.pidb.meta
*.pdb.meta
*.mdb.meta

# Unity3D generated file on crash reports
sysinfo.txt

# Builds
*.apk
*.aab
*.unitypackage
*.app

# Crashlytics generated file
crashlytics-build.properties

# Packed Addressables
#/[Aa]ssets/[Aa]ddressable[Aa]ssets[Dd]ata/*/*.bin*

# Temporary auto-generated Android Assets
#/[Aa]ssets/[Ss]treamingAssets/aa.meta
#/[Aa]ssets/[Ss]treamingAssets/aa/*
#------------------------------------end-------------------------------------------
